*
.vscode/

!*/
!.gitignore

# source code
!*.cpp
!*.hpp
!*.py

# input/answer file
!*.in
!*.ans

# others
!LICENSE
!*.md
!*.sh
!requirements.txt
!config-template.yml
!*.code-snippets
